ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  padding: 10px 10px;
  column-gap: 10px;
}